<%#= form_for @doctor, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :clinic_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :clinic_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :clinic_street_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :clinic_street_address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :clinic_city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :clinic_city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :clinic_state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :clinic_state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :clinic_zip_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :clinic_zip_code, :class => 'text_field' %>
    </div>
  </div>
  <!-- <div class="control-group">
    <%#= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :email, :class => 'text_field' %>
    </div>
  </div> -->
  <div class="control-group">
    <%= f.label :birth_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birth_date, :class => 'date_select datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :clinic_phone_no, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :clinic_phone_no, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <!-- <div class="form-actions">
    <%#= f.submit nil, :class => 'btn btn-primary' %>
    <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                doctors_path, :class => 'btn' %>
  </div> -->
<%# end %>
